*{
    box-sizing: border-box;
    font-family: 'Avenir Next Cyr', sans-serif;
}

body{
    background-color: #f6f4fc;
}

.header__container{
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    padding: 0 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.header__row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0 45px 0;
}

.header__logo{
    flex: 0 0 20.9375%;
    max-width: 20.9375%;
    display: flex;
    align-items: center;
}

.header__search{
    flex: 0 0 43.125%;
    max-width: 43.125%;
    display: flex;
    align-items: center;
}

.header__nav{
    flex: 0 0 35.9375%;
    max-width: 35.9375%;
}

.header__logo>a{
    display: block;
}

.header__logo>a>img{
    max-width: 100%;
}

/* search */

.header__search-inner{
    flex: 0 0 82.6087%;
    max-width: 82.6087%;
    display: flex;
    border: 1px solid #8486a8;
    border-radius: 4px;
    height: 50px;
}

.header__search-inner input{
    flex: 0 0 84.2105%;
    max-width: 84.2105%;
    border: none;
    background-color: transparent;
    padding-left: 15px;
    font-size: 20px;
}

.header__search-inner input::placeholder{
    font-size: 16px;
    color: rgba(22, 57, 91, 0.8);
    line-height: 1.2;
    font-family: 'Avenir Next Cyr Medium', sans-serif;
}

.header__search-inner input:focus{
    outline: none;
}

.header__search-inner button{
    flex: 0 0 15.7895%;
    max-width: 15.7895%;
    background-color: transparent;
    border: none;
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}

.header__search-inner button:hover{
    cursor: pointer;
}

/* nav */
.header__nav{
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: 'Avenir Next Cyr', sans-serif;
}

.header__nav>div{
    font-size: 18px;
    color: rgb(22, 57, 91);
    line-height: 1.2;
    border-radius: 4px;
    font-weight: 500;
    transition: .3s all ease-in-out;
    height: 100%;
    display: flex;
    align-items: center;
}

/* pannel-menu */
.pannel__menu{
    position: fixed;
    top: -300vh;
    right: 0;
    background-color: white;
    width: 31%;
    height: 100vh;
    z-index: 30;
    transition: .5s all ease-in-out;
    z-index: 40;
}

.pannel__menu-active{
    top: 0;
    transition: .5s all ease-in-out;
}

.pannel__menu ul{
    list-style: none;
    padding: 80px 20px 20px;
}

.pannel__menu li{
    font-size: 27px;
    font-weight: 500;
   border-bottom: 1px solid #8486a8;
}

.pannel__menu a{
    text-decoration: none;
    color: #16395b;
    display: block;
    padding: 20px 60px;
    font-family: 'Avenir Next Cyr', sans-serif;
    transition: .3s all ease-in-out;
}

.pannel__menu a:hover{
    color: #8486a8;
    transition: .3s all ease-in-out;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.overlay{
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
}

.pannel__menu-active + .overlay{
    display: block;
}


.header__language-button{
    padding: 0 31px 0 29px;
    background-image: url(../img/arrow-blue-down-icon.png);
    background-repeat: no-repeat;
    background-position: right 15px center;
    position: relative;
    z-index: 45;
}

.hed__langs{
    list-style-type: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    z-index: 45;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    transition: .3s all ease-in-out;
    visibility: hidden;
    opacity: 0;
    border-radius: 4px;
}

.hed__langs li{
    border-radius: 4px;
    padding: 15px 31px 15px 29px;
    border-top: 3px solid #f6f4fc;
}

.hed__langs li a{
    text-decoration: none;
    display: block;
    color: rgb(22, 57, 91);
    
}

.header__language-button:hover .hed__langs{
    visibility: visible !important;
    opacity: 1 !important;
}


.header__log-in-button{
    padding: 0 29px 0 67px;
    background-image: url(../img/lock-iconpng.png);
    background-repeat: no-repeat;
    background-position: left 30px center;
}

.header__log-in-button:hover{
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    transition: .3s all ease-in-out;
    visibility: visible;
}

.header__language-button:hover{
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}



.header__menu{
    padding: 0 34px 0 16px;
    background-image: url(../img/menu-icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 45;
}

.header__menu:hover{
    cursor: pointer;
}

.header-mobile{
    display: none;
    font-family: 'Avenir Next Cyr', sans-serif;
}



.modal{
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.5);
    z-index: 999;
    display: none;
}

.modal__block{
    width: 500px;
    border-radius: 25px;
    background-color: white;
    margin: 0 auto;
    margin-top: 190px;
    padding: 20px;
}

.modal__block-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    
}

.modal__block-inner img{
    width: 80px;
    height: 80px;
}

.modal__block-inner div:first-child{
    display: flex;
    justify-content: space-between;
    font-family: "Avenir Next Cyr Medium";
    width: 100%;
}

.modal__block-inner div:first-child div{
    font-size: 25px;
}

.modal__block-inner div:first-child div:hover{
    cursor: pointer;
}

.modal__block-inner h1{
    font-size: 25px;
    font-family: "Avenir Next Cyr Medium";
    align-self: center;
    padding: 24px 0;
    font-weight: 700;
}

.modal__block-inner form {
    display: flex;
    flex-direction: column;
}


.modal__block-inner form{
    padding: 0 60px;
}

.modal__block-inner form>h4{
    padding-bottom: 15px;
  
    font-family: "Avenir Next Cyr Medium";
    font-size: 14px;
    font-weight: 500;
}

.modal__block-inner form>input{
    margin-bottom: 20px;
    padding: 7px 0;
    border: none;
    border-bottom: 2px solid #16395b;
    padding-left: 15px;
}


.modal__block-inner button{
    background-color: #fff;
    font-size: 15px;
    font-weight: 700;
    width: 150px;
    align-self: center;
    padding: 6px 0;
    border-radius: 20px;
}

.modal__block-inner input:focus{
    outline: none;
}

.modal__block-inner button:hover{
    cursor: pointer;

}

.header-mobile__menu{
    position: relative;
    top: 0;
    left: 0;
    z-index: 40;
}



@media(max-width:960px) {
    .header__nav div{
        font-size: 15px;
        
    }

    .header__logo{
        flex: 0 0 15%;
        max-width: 15%;
    }

    

}

@media(max-width:782px){

    .header__nav{
        flex: 0 0 15%;
        max-width: 15%;
    }

    .header__search{
        flex: 0 0 70%;
        max-width: 70%;
        justify-content: center;
    }

    .header__nav .header__language-button, .header__nav .header__log-in-button{
        display: none;
        
    }

    .header-mobile{
        padding-bottom: 70px;
    }

    .pannel__menu{
        width: 250px;
    }
}

@media(max-width:479px){
    .container{
        max-width: 100%;
        padding: 0 15px;
    }

    .header{
        display: none;
    }

    .header-mobile{
        padding-top: 30px;
        display: block;
    }

    .header-mobile__logo{
        display: flex;
        align-items: center;
        height: 100%;
    }

    .header-mobile__logo a, .header-mobile__notifications a{
        display: block;
    }

    .header-mobile__nav{
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .header-mobile__messages, .header-mobile__notifications{
        position: relative;
        margin-right: 20px;
    }

    .header-mobile__icon-messages{
        background: url(../img/mail-icon.png) no-repeat center;
        width: 20px;
        height: 20px;
    }

    .header-mobile__count-messages{
        background-color: #16395b;
        color: white;
        font-size: 12px;
        text-align: center;
        border-radius: 9px;
        width: 24px;
        height: 20px;
        line-height: 20px;
        position: absolute;
        top: -13px;
        right: -10px;
    }

    .header-mobile__count-notifications{
        background-color: #16395b;
        color: white;
        font-size: 12px;
        text-align: center;
        border-radius: 9px;
        width: 32px;
        height: 20px;
        line-height: 20px;
        position: absolute;
        top: -13px;
        right: -18px;
    }

    .header-mobile__icon-notifications{
        background: url(../img/bell-img.png) no-repeat center;
        width: 20px;
        height: 20px;
    }

    .header-mobile__profile-icon a{
        display: block;
        margin: 0 20px 0 10px;
    }

    .header-mobile__profile-icon img{
        max-width: 70px;
    }

    .header-mobile__menu{
        width: 25px;
        height: 25px;
        background: url(../img/menu-icon.png) no-repeat center;
    }

    .header-mobile__menu:hover{
        cursor: pointer;
    }

    /* mobile search */
    .header-mobile__search{
        padding-top: 30px;
    }

    .header-mobile__search-inner{
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        border: 1px solid #8486a8;
        border-radius: 4px;
        height: 40px;
    }
    
    .header-mobile__search-inner input{
        flex: 0 0 84.2105%;
        max-width: 84.2105%;
        border: none;
        background-color: transparent;
        padding-left: 15px;
        font-size: 18px;
        color: rgba(22, 57, 91, 0.8);
    }
    
    .header-mobile__search-inner input::placeholder{
        font-size: 16px;
        color: rgba(22, 57, 91, 0.8);
        line-height: 1.2;
    }
    
    .header-mobile__search-inner input:focus{
        outline: none;
    }
    
    .header-mobile__search-inner button{
        flex: 0 0 15.7895%;
        max-width: 15.7895%;
        background-color: transparent;
        border: none;
        background-image: url(../img/search-icon.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .header-mobile__search-inner button:hover{
        cursor: pointer;
    }



    .modal__block{
        width: 290px;
    }

    .modal__block-inner h1{
        text-align: center;
    }

    
}